<html lang="en">
    <h2>Welcome</h2>

    <section class="flex-column">
        <p>Before we begin,
        <br>Do you need a refresher?</p>
        <button hx-get="./rules.html" hx-trigger="click" hx-target="main">
            Check the Rules
        </button>
    </section>

    <section class="flex-column">
        <p>Ready to play the game?</p>
        <button hx-get="./characters.html" hx-trigger="click" hx-target="main">
            Start the Game
        </button>
    </section>

</html>